
.header { text-align: center;
	display: inline;
	clear: none;
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', Serif;
}

.main {
	padding: 250px 0;
	margin: 30px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background-image: url('https://static.pexels.com/photos/167682/pexels-photo-167682.jpeg');
  background-size: cover;
}

.main_text { 
	width: 50%;
	height: 300px;
	margin-left: auto; margin-right: auto;
	background-color: transparent;
}
